// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1369FF;
$black: #000000;
$light-blue: #E5EEFF;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #B1E87A;
$gray: #0E0000;
$light-gray: #E5E5E5;
$white: #ffffff;
