<div class="container">
  <h1 class="mb-4 py-3">Your Matches</h1>

<!-- cards -->
  <div class="cards">
    <!-- one row = one card -->
    <div class="row mb-4">
      <div class="card col-lg-10">
        <div class="d-flex justify-content-between align-items-center">
          <div class="line-height-10">
            <p><strong>first_name, last_name</strong></p>
            <p>position</p>
            <p>company_name</p>
          </div>
          <div>
            <p>company_city, country</p>
          </div>
          <div>
            <p>selling_to, business_model, sector</p>
            <p>Raising stages</p>
          </div>
          <div>
            <p><strong>matching-status</strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="card col-lg-10">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <p><strong>first_name, last_name</strong></p>
            <p>position</p>
            <p>company_name</p>
          </div>
          <div>
            <p>company_city, country</p>
          </div>
          <div>
            <p>selling_to, business_model, sector</p>
            <p>Raising stages</p>
          </div>
          <div>
            <p><strong>matching-status</strong></p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="card col-lg-10">
        <div class="d-flex justify-content-between align-items-center">
          <div class="">
            <p><strong>first_name, last_name</strong></p>
            <p>position</p>
            <p>company_name</p>
          </div>
          <div>
            <p>company_city, country</p>
          </div>
          <div>
            <p>selling_to, business_model, sector</p>
            <p>Raising stages</p>
          </div>
          <div>
            <p><strong>matching-status</strong></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
