<div class="container pt-5">

  <% if current_user.kind == 'investor' %>
    <%= render 'shared/investor-profile' %>
  <% elsif current_user.kind == 'startup'  %>
    <%= render 'shared/founder-profile' %>
  <% end %>

</div>
