
.time {
  width: 20%;
  min-width: 100px;
  border-right: solid 1px grey;
}

.slot {
  background-color: #72dc72;
  width: 39%;
}

.appointments-table, .appointments-header, .appointments-button {
  width: 60%;
  min-width: 300px;
}

.dropdown-toggle {
  background-color: #000000;
}

#user_meeting_spot {
  width: 275px;
}

#selection-text {
  padding-top: 5px;
}

#matched-2 {
  font-size: 22px;
  color: green;
}

#meeting_availability_id {
  width: 211px;
}

.book-button {
  width: 160px;
}

#schedule-confirmation {
  transition: opacity 0.15s linear;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 8px;
  margin-bottom: 30px;
  position: relative;
  border: 2px solid #1EDD88;
  margin-top: 31px;
}
