
.time {
  width: 5%;
  min-width: 100px;
  border-right: solid 1px grey;
}

.slot {
  background-color: #72dc72;
  width: 39%;
}

.appointments-table, .appointments-header, .appointments-button {
  width: 60%;
  min-width: 300px;
}

.dropdown-toggle {
  background-color: #000000;
}

#user_meeting_spot {
  width: 330px;
}

#selection-text {
  padding-top: 5px;
}
