.hidden {
  display: none
}

.calendar-info {
  .card {
    padding: 10px;
    margin-left: 30px;
    border-radius: 3px;
    border: solid 1px lightgrey;
    box-shadow: 1px 1px 10px #e8e8e882;
  }
}
