.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: 30px;
  padding: 0;
  .nav-link {
    margin-right: 20px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

#current-user {
  padding-left: 24px;
}
