.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-top: 30px;
  padding: 0;
  .nav-link {
    margin-right: 20px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

#current-user {
  padding-left: 24px;
  width: 260px;
  margin-bottom: 7px;
  padding-right: 8px;
}

.dropdown-menu {
  margin-top: 21px;
  border-radius: 4px;
}
