<div class="container">
  <h1 class="mb-4 py-3">Your Appointments</h1>
  <% if current_user.kind == "investor" %>
    <%= render "calendar_investor_card" %>

  <% elsif current_user.kind == "startup" %>
    <%= render "calendar_startup_card"%>
  <% end %>
</div>

